
<% @clips.each do |clip| %>
<div class = "back">
	<div class = "clip">
	
	<b><%= link_to clip.name, clip %></b>
	
	<div class = "added">
	Added at <%= clip.created_at.strftime("%d %b. %Y") %>
		</div>
	<div class="embed-container"><iframe width="560" height="315" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe></div>
	<div class = "author"> 	Added by: <%= clip.user%></div>
	<div class = "clip-vote">
        <%= link_to vote_clip_path(clip.id, act: "upvote"), :remote => true do %>UP<% end %> Liked: <%= clip.counter %>
		<%= link_to vote_clip_path(clip.id, act: "downvote"), :remote => true do %>DOWN<% end %>
		</div>
		<% if current_user %>
	  	<div class = "favorites">
	  		<% if FavoriteClip.where(:user_id => current_user.id, :clip_id => clip.id).blank? %>
 	 		<%= link_to "To favorites", favorite_clip_path(clip, act: "favorite"), :remote => true %>
 	 		<br><br>
 	 	<% else %>
 	 		<%= link_to "In favorites", user_favorites_path %> <br><br>
		<% end %>
		<% end %>
	</div>
	</div>
	
<br>
</div>
<% end %>

	
<center><%= will_paginate @clips %></center>
