<% @clips.each do |clip| %>
	<div class = "clip">
	<b><%= clip.name %></b>
	<br><i>Added at: <%= clip.created_at.strftime("%d %b. %Y") %></i>
	<div class="embed-container"><iframe width="560" height="315" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe></div>
	<% if current_user %>
	  	<% if FavoriteClip.where(:user_id => current_user.id, :clip_id => clip.id).blank? %>
 	 		<%= link_to "Add to favorites", favorite_clip_path(clip, act: "favorite"), :remote => true %>
 	 		<br><br>
 	 	<% else %>
 	 		<%= link_to "In favorites", user_favorites_path %> <br><br>
		<% end %>
		<% end %>
        <%= link_to vote_clip_path(clip.id, act: "upvote"), class: '.clip-vote', :remote => true do %>
		 LIKE 
 		<% end %>
		Liked: <%= clip.counter %>
		 <%= link_to vote_clip_path(clip.id, act: "downvote"), class: '.clip-vote', :remote => true do %>
		  DISLIKE 
		<% end %>
	</div>
	
<br>
<% end %>
	
<center><%= will_paginate @clips %></center>
