<center><H1>LIST OF CLIPS:</H1><br><center>

<% @clips.each do |clip| %>
<center>
	<b><%= clip.name %></b>
	<br><i>Added at: <%= clip.created_at.strftime("%d %b. %Y") %></i>
	<br><iframe width="560" height="315" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe>
	<br>
	<% if current_user %>
	  	<% if FavoriteClip.where(:user_id => current_user.id, :clip_id => clip.id).blank? %>
<<<<<<< Updated upstream
 	 		<%= link_to "Add to favorites", favorite_clip_path(clip), method: :put %>
=======
 	 		<%= link_to "Add to favorites", favorite_clip_path(clip, act: "favorite"), :remote => true %>
>>>>>>> Stashed changes
 	 		<br><br>
 	 	<% else %>
 	 		<%= link_to "In favorites", user_favorites_path %> <br><br>

		<% end %>
<<<<<<< Updated upstream
        <%= link_to like_clip_path(clip.id), class: '.clip-vote', :remote => true do %>
      	LIKE 
        <% end %>
		Liked: <%= clip.counter %>
		 <%= link_to dislike_clip_path(clip.id), class: '.clip-vote', :remote => true do %>
=======
        <%= link_to vote_clip_path(clip.id, act: "upvote"), class: '.clip-vote', :remote => true do %>
      	LIKE 
        <% end %>
		Liked: <%= clip.counter %>
		 <%= link_to vote_clip_path(clip.id, act: "downvote"), class: '.clip-vote', :remote => true do %>
>>>>>>> Stashed changes
      	 DISLIKE
        <% end %>
	<% end %>
	
</center>
<br>
<% end %>

<%= will_paginate @clips %>
