<div class = "form">
<% if current_user %>
<h3>Add your Clip</h3>
<%= form_for(@clip) do |clip| %>
 

<div class = "field">
	<%= clip.label :name %><br>
	<%= clip.text_field :name, size: "40", placeholder: "Add a title here." %>
</div>


<div class = "field">
	<%= clip.label :URL %><br>
	<%= clip.text_field :URL, size: "40", placeholder: "Enter clip URL here." %>
</div>

<br>Categories:
<div class = "field">
	<% Category.all.each do |category| %>
	<tr>
		<td><%= check_box_tag "clip[category_ids][]", category.id, @clip.category_ids.include?(category.id) %></td>
		<td><%= category.name %></td>
		<br>
	</tr>
	<% end %>
</div>

<div class="actions">
	<%= clip.submit %>
</div>
<% end %>

<% else %>
You need to <%= link_to "sign in", new_user_session_path %> to add new clip.
<% end %>
</div>