<div class = "follow">
<% if current_user %>
<% if current_user.id != @user.id %>
<% if Friendship.where(:user_id => current_user.id, :friend_id => @user.id).blank? %>
<%= link_to "(Add to Friends)", friendship_user_path(@user.id, act: "create"), :remote => true %> 
<% else %>
<%= link_to "(Remove from Friends)", friendship_user_path(@user.id, act: "destroy"), :remote => true %>
<% end %>
<% end %>
<% end %>
</div>
<div class ="avatar"><%= image_tag @user.avatar.url(:thumb) %>
<p><%= @user.username %></p></div><br>
<table class="tg">
  <tr>
    <th class="favorites">
      <p>
      <strong>Favorite clips:</strong><br>
      <% @user.favorites.each do |clip| %>
      <div class = "link"><%= link_to clip.name, clip_path(clip.id) %></div>
      <iframe width="320" height="200" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe>
      <% end %>
      </p>
    </th>
    <th class="friends">
      <p>
      <div class = "fr"> Friends:</div>
          <% if @user.friends.size == 0 %>
      <%= p "No added Friends yet." %>
          <% else %>
      <% @user.friends.each do |friend| %>
          <%= link_to friend.username, user_path(friend) %><br>
        <% end %>
        <% end %>
      </p>
      <p>
      <div class = "fr">In Friend List:</div>
         <% if @user.inverse_friends.size == 0 %>
      <%= p "You haven't been added to any friend list yet." %>
          <% else %>
       <% @user.inverse_friends.each do |friend| %>
          <%= link_to friend.username, user_path(friend) %><br>
        <% end %>
        <% end %>
      </p>
    </th>
    <th class="added">
      <p>
      <strong>Added clips:</strong><br>
        <% @user.clips.each do |clip| %>
        <div class = "link"><%= link_to clip.name, clip_path(clip.id) %></div>
        <iframe width="320" height="200" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe>
        <% end %>
      </p>
    </th>
  </tr>
</table>