<% @clips.each do |clip| %>
	<div class = "clip">
	
	<b><%= link_to clip.name, clip %></b>
	
	<div class = "added">
		Added at <%= clip.created_at.strftime("%d %b. %Y") %>
	</div>
	<div class="embed-container"><iframe width="560" height="315" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe></div>
	<div class = "author"> 	Added by: <%= clip.user%></div>
	<div class = "clip-vote">
        <%= link_to vote_clip_path(clip.id, act: "upvote"), :remote => true do %>UP<% end %> Liked: <%= clip.counter %>
		<%= link_to vote_clip_path(clip.id, act: "downvote"), :remote => true do %>DOWN<% end %>
	<% if current_user %>
	  	<% if FavoriteClip.where(:user_id => current_user.id, :clip_id => clip.id).blank? %>
 	 		<br><%= link_to "To favorites", favorite_clip_path(clip, act: "favorite"), :remote => true %><br>
 	 	<% else %>
 	 		<br><%= link_to "In favorites", user_favorites_path %>
 	 		<br>
		<% end %>
	<% end %>
		Categories: <% clip.categories.each do |cat| %>
		 <%= link_to cat.name, category_path %>
		<% end %>
	</div>
	</div>
<br><br>
<% end %>
	
<center><%= will_paginate @clips %></center>
