<!DOCTYPE html>
<html>
<head>
  <title>DigVid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <i><%= link_to 'START', root_path %>

	<i><p id="notice"><%= notice %></p></i>
	<% if user_signed_in? %>
 			  <ul>
<<<<<<< Updated upstream
              <b><p>Signed in as <%= link_to current_user.username %></p></b>
              <i><%= link_to 'Edit account', edit_user_registration_path %> ||
              <%= link_to "Logout", destroy_user_session_path, :method => 'delete' %> ||
              <%= link_to "Registered Users List", users_path %> ||
              <%= link_to "My Friends", users_friends_path %>
=======
              <b><p>Signed in as <%= link_to current_user.username, user_path(current_user) %></p></b>
              <i><%= link_to 'Edit account', edit_user_registration_path %> ||
              <%= link_to "Logout", destroy_user_session_path, :method => 'delete' %> ||
              <%= link_to "Registered Users List", users_path %> ||
              <%= link_to "My Friends", user_friends_path %>
>>>>>>> Stashed changes
              </i>
              </ul>
              <% else %> 
              		You are not signed in. <br>
                  <i><%= link_to "Login", new_user_session_path %> ||
                  <%= link_to "Sign up", new_user_registration_path %></i>
              </ul>
 <% end %>


<%= yield %>

</body>
</html>
